<div class="mybutton">
<button mat-icon-button [matMenuTriggerFor]="menu"  aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item  (click)="navigateMenu('Item1')">
    <mat-icon>dialpad</mat-icon>
    <span>Company</span>
  </button>
  <button mat-menu-item  (click)="navigateMenu('Item2')">
    <mat-icon>notifications_off</mat-icon>
    <span>User</span>
  </button>
  <button mat-menu-item  (click)="navigateMenu('Item3')">
    <mat-icon>analytics</mat-icon>
    <span>Menu</span>
  </button>


</mat-menu>
</div>
