.animation-wrapper {
  height: 50px;
  width: 200px;
  padding: 20px;
  margin: -30px auto;
  background-color: #dfe7eb;
  color: #667984;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.mymarg{
  margin-top: 80px;
}

h2{
  color: #f0f3f5;
}
label{
  color: #f0f3f5;
}
.fa-animation {
  height: 80px;
  width: 100px;
  margin: -20px 0 0 -20px;
  position: relative;
}
body {
  .ui-table {
      .ui-table-tbody {
          > tr {
              background: #f0f3f5;
          }

          > tr:nth-child(even) {
              background-color: #ffffff;
          }
      }
  }
}
  .fa-animation .fa {
    position: absolute;
  }

.fa-lg {
  font-size: 45px;
  top: 8px;
  left: 0px;
}

.fa-md {
  font-size: 30px;
  top: 0px;
  left: 40px;
}
.myfontt{
  font-size: 16px;
}
.fa-sm {
  font-size: 24px;
  top: 30px;
  left: 35px;
}
.mycollor{
  color: white;
}
.box {
  width: 100%;
  height: 120px;
  background: #d9dbda;
  margin: 20px 0px;
}
.inner-border {
  border: 20px solid #d9dbda;
  box-shadow: inset 0px 0px 0px 10px #969696;
  box-sizing: border-box;
}
.inner-outline {
  outline: 10px solid lightblue;
  outline-offset: -30px;
}
