<mat-card style="width: 300px;
  margin-left: 41%;
  margin-top: 15%;">
    <mat-card-header>
      <mat-card-title style="text-align: center;"><b>Update Password</b></mat-card-title>
    </mat-card-header><br>
    <mat-card-content>
      <form [formGroup]="UpdatePasswords">
        <table style="width: 100%;">
          <tr>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Old Password</mat-label>
              <input type="password" matInput placeholder="Old Password" formControlName="OldPassword" required>
              <mat-error *ngIf="OldPassword.errors&&OldPassword.errors.required">Old Password is <b>required</b></mat-error>
              <mat-error *ngIf="OldPassword.errors&&OldPassword.errors.minlength">Minimum <b>6</b> characters required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>New Password</mat-label>
              <input type="password" matInput placeholder="New Password" formControlName="NewPassword" required>
              <mat-error *ngIf="NewPassword.errors&&NewPassword.errors.required">New Password is <b>required</b></mat-error>
              <mat-error *ngIf="NewPassword.errors&&NewPassword.errors.minlength">Minimum <b>6</b> characters required</mat-error>
            </mat-form-field>
          </tr>
          <button color="warn" type="submit" mat-raised-button (click)="UpdatePassword()">Update Password</button>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
