<ngx-spinner></ngx-spinner>
<div *ngIf="loading===true" class="float-right bg-warning" style="margin-top:-5%">
    <div class="row">
        <div class="col-3">
            <div class="fa-animation">
                <i class="ml-4 mt-4 fa fa-cog fa-lg fa-spin"></i>


            </div>
        </div>
        <div class="col-12" style="margin-top:-15%;margin-left:25% !important">
            <strong> Please Wait</strong>
        </div>
    </div>
</div>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Bases</a>
      </header>
      <ul class="nav">
        <app-sousmenu></app-sousmenu>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">

      <div class="container-fluid">
            <h2>Type de Journal</h2>
            <form [formGroup]="angForm" novalidate>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Libelle</label>
                            <input #namex  class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="col-sm-4"><br>
                      <div class="form-group">
                        <button type="button" [disabled]="angForm.pristine || angForm.invalid" class="ml-1 pl-3 btn btn-success" (click)="onSubmit()"> Sauvegarder   </button>
                        <button type="button" [disabled]="codeid === 0" class="ml-1  pl-3 btn btn-danger" data-toggle="modal" (click)="onDelete()" data-target="#myModal"> Supprimer   </button>
                        <button type="button" class="ml-1  pl-3 btn btn-info" (click)="imprimer()"> Editer   </button>
                        <button type="button" *ngIf="ifresult === 1" class="ml-1  pl-3 btn btn-info" (click)="UploadFile()">  Upload Plan Comptable  </button>
                    </div>

                    </div>

                </div>

            </form>
            <br>
            <div class="row">
                <div class="myfont col-12">
                    <p-table #dt [columns]="cols" [value]="result" styleClass="p-datatable-sm p-datatable-gridlines" [scrollable]="true" scrollHeight="480px"  class="myfont" selectionMode="single" [(selection)]="selectedCar1" dataKey="type_code" (onRowSelect)="selectrow($event)" (onRowUnselect)="onRowUnselect($event)">
                        <ng-template pTemplate="caption">
                            <div style="text-align: left">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="30" placeholder="Rechercher & Selectionner" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" class="text-center text-white bg-secondary" [pSortableColumn]="col.field" [ngStyle]="{'display': col.display, 'width': col.width, 'text-align': col.align, 'font-size': col.size}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                                </th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns" [ngStyle]="{'display': col.display, 'width': col.width, 'text-align': col.align, 'font-size': col.size, 'background' : col.background, 'color':col.color}">
                                  <span *ngIf="col.header =='Libelle'">{{rowData[col.field]}}</span>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>
                </div>

            </div>
        </div>
    </div>

    <!--<p>Form value: {{ angForm.value | json }}</p>
    <p>Form status: {{ angForm.status | json }}</p>-->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" (click)="deleteid()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
