h2{
  color: #f0f3f5;
}
label{
  color: #f0f3f5;
}
.fa-animation {
  height: 80px;
  width: 100px;
  margin: -20px 0 0 -20px;
  position: relative;
}
body {
  .ui-table {
      .ui-table-tbody {
          > tr {
              background: #f0f3f5;
          }

          > tr:nth-child(even) {
              background-color: #ffffff;
          }
      }
  }
}
.foruser{
  color: #f0f3f5;
  font-size: xx-large;
  }
