<mat-card style="width: 300px;margin-left: 41%;margin-top: 15%;">
  <mat-card-header>
    <mat-card-title><b>Provide Email to Reset Password</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="loginForm" [formGroup]="ForgotpasswordForm" (ngSubmit)="SendResetPasswordLink()">
      <mat-form-field appearance="outline" class="loginformfield">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your Email Address" formControlName="Email" required>
        <mat-error *ngIf="Email.errors && Email.errors.required">Email is <b>required</b></mat-error>
        <mat-error *ngIf="Email.invalid && !Email.hasError('required')">Please enter a <b>valid</b> email address</mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <button type="submit" mat-stroked-button color="warn" class="login-button">
        SEND LINK
      </button>
    </form>
  </mat-card-content>
</mat-card>
